.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    margin-bottom: 10px;
}

.card-body p {
    color: gray;
    line-height: 1.7;
    margin-bottom: 20px;
}